<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('includes/head', {title: 'Log-in'}) %>
        <link rel="stylesheet" href="/styles/sign-up-and-sign-in.css">
    </head>
    <body>
        <header>
            <%- include('includes/header') %>
        </header>
        <main>
            <div class="input-area-container">
                <h1 class="topic-font">Login</h1>
            <% if(inputData.inputError){ %>
                <div class="error-box box-shadow">
                    <h1 class="topic-font">INVALID INPUT</h1>
                    <p class="normal-font">
                        <%= inputData.errorMessage %>
                    </p>
                </div>
            <% } %>
                <div class="input-form-container box-shadow">
                    <form class="input-form" action="/log-in" method="POST">
                        <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
                        <ul>
                            <li class="input-field">
                                <label
                                    for="email"
                                    class="input-label normal-font"
                                    >e-mail</label
                                >
                                <input
                                    type="email"
                                    id="email"
                                    name="email"
                                    class="text-input"
                                    value="<%= inputData.email %>"
                                />
                            </li>
                            <li class="input-field">
                                <label
                                    for="password"
                                    class="input-label normal-font"
                                    >password</label
                                >
                                <input
                                    type="password"
                                    id="password"
                                    name="password"
                                    class="text-input"
                                    value="<%= inputData.password %>"
                                />
                            </li>
                            <li class="input-field">
                                <button class="normal-font">
                                    Login
                                </button>
                                <a class="anchor normal-font" href="">Create a new user</a>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </main>
    </body>
</html>
