        <%- include('../../shared/includes/head', {title: 'Shopping Cart'}) %>
        <link rel="stylesheet" href="/styles/cart.css" />
        <script src="/scripts/cart-edit.js" defer></script>
    </head>
    <body>
            <%- include('../../shared/includes/header') %>
        <main>
            <div class="area-container">
                <h1 class="topic-font">Your Cart</h1>
                <div class="cart-container">
                    <% for (const cartItem of locals.cart.items){ %>
                        <%- include('includes/cart-item-box', {cartItem: cartItem}) %>
                    <% } %>
                </div>
                <div class="cart-overall-price-container">
                    <h1 class="topic-font overall-price-container">
                        Total: 
                        <span id="overall-price" class="overall-price"><%= locals.cart.totalPrice.toFixed(2) %></span>$
                    </h1>
                    <% if (locals.isAuth){ %>
                        <form action="/orders" method="POST">
                            <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
                            <button class="normal-font buy-items-submit">
                                Buy Products
                            </button>
                        </form>
                    <% } else { %>
                        <p>Please log-in to submit order.</p>
                    <% } %>
                </div>
            </div>
        </main>
        <%- include('../../shared/includes/footer') %>

